<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
<style>
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "Avenir Next", sans-serif;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#app {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
}
.logo {
	max-width: 300px;
	margin: 10% auto 20px;
}
h1 {
	font-size: 30px;
	margin-bottom: 50px;
}
p {
	margin-bottom: 10px;
}
.social {margin-top: 50px;}
.social img {
  max-width: 25px;
  padding: 10px;
}
a {
  color: #3B5E89;
}

@media screen and (max-width: 400px) {
  .logo {
  	max-width: 200px;
  }
  h1 {
  	font-size: 24px;
  }
}

@media screen and (max-width: 200px) {
  .logo {
  	max-width: auto;
  	width: 80%;
  }
  a {
  	font-size: 12px;
  }
  h1 {
  	margin-bottom: 20px;
  }
  .social {
  	margin-top: 20px;
  }
}
</style>
	<meta name="google-site-verification" content="NKqRsYU_8a2zuES-bDtRv4oH6mkkwJARBAr50-7hN-Y" />
  </head>
  <body>
    <div id="app">
    	<img class="logo" alt="Abell Design" src="./images/logo.jpg" />
    	<h1>New website coming soon.</h1>

    	<div class="contact">
				<p><a href="mailto:grace@abelldesign.co.uk">grace@abelldesign.co.uk</a></p>
    		<p><a href="tel:+447719796949">07719 796949</a></p>
    	</div>

      <div class="social">
    		<a href="https://www.facebook.com/AbellDesignYork/"><img alt="Facebook" src="./images/facebook.svg" /></a>
    		<a href="https://www.twitter.com/grace_neal"><img alt="Twitter" src="./images/twitter.svg" /></a>
    		<a href="https://www.linkedin.com/in/grace-abell-neal/"><img alt="LinkedIn" src="./images/linkedin.svg" /></a>
    	</div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-102804990-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
